<!DOCTYPE html>
{% load static %}
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<body style="background-color:lightblue">

<h2 class="text-center">Gilang Mahardhika <br>Pratama </h2>
<p class="text-center">Fotografer</p>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home:gilang' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home:about' %}">About</a>
    </li>
  </ul>

<p style="margin: 80px">Halo, nama saya Gilang, saya adalah mahasiswa Universitas Indonesia jurusan sistem informasi fakultas ilmu komputer.
Saya senang bermain games dan menonton anime, saya juga memiliki hobi untuk fotografi,
hobi tersebut muncul karena keinginan dan impian saya untuk berkeliling dunia. Saya mulai mengenal fotografi saat saya berada di bangku SMA,
disana saya mengikuti ekskul fotografi dan dari ekskul tersebut saya mulai diajarkan fotografi dan dari situ saya mengembangkan hobi baru.
Saya sudah pernah mengikuti hunting foto yang diadakan ekskul, saya juga sudah pernah mengikuti kegiatan dan acara yang diadakan di SMA
dan saya sering menjadi panitia dokumentasi.</p>

<p style="margin: 80px">Social media:<br>Line: ken_ginga<br>WA: 087876367179<br>Instagram: <a href="https://www.instagram.com/shoutginga/?hl=en">shoutginga</a></p>

</body>
</html>
