<!DOCTYPE html>
{% load static %}
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
<body style="background-color:lightblue">

<h2 class="text-center">Gilang Mahardhika <br>Pratama </h2>
<p class="text-center">Fotografer</p>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home:gilang' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home:about' %}">About</a>
    </li>
  </ul>
  
<style>
figure {
  padding: 4px;
  margin: 30px 120px;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 5px;
  text-align: center;
}
</style>
<figure>
    <img src="{% static 'IMG_6993.jpg' %}" width=100%>
    <figcaption style="width: 100%">Sample photo</figcaption>
</figure>
<figure>
    <img src="{% static 'IMG_1098.JPG' %}" width=100%>
    <figcaption style="width: 100%">Sample photo</figcaption>
</figure>
<figure>
    <img src="{% static 'IMG_0458.JPG' %}" width=100%>
    <figcaption style="width: 100%">Sample photo</figcaption>
</figure>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>