<!DOCTYPE html>
<html lang="en">
{% load static %}

<body style="background-color:lightblue">

<h2>Gilang Mahardhika Pratama</h2>
<img src="{% static 'IMG_2014.PNG' %}" width="250" height="250">
<p>1906303102</p>
<p>Maung</p>
<p>Sistem Informasi</p>
<p>Hobi: <br> Anime <br> Games <br> Fotografi</p>
<p>Halo, nama saya Gilang, saya adalah mahasiswa Universitas Indonesia jurusan sistem informasi fakultas ilmu komputer. <br>
Saya senang bermain games dan menonton anime, saya juga memiliki hobi untuk fotografi, <br>
hobi tersebut muncul karena keinginan dan impian saya untuk berkeliling dunia.</p>
<p>Media sosial: <br> Line: ken_ginga <br> Instagram: shoutginga <br> Website: <a href="{% url 'home:gilang' %}">Here</a></p>

</body>
</html>